.LayoutSwitch {
  font-size: 26px;
  color: darkgrey;

  svg {
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      color: cornflowerblue;
      transform: scale(1.1);
    }
  }

  .list svg.fa-bars,
  .tiles svg.fa-th-large {
    color: cornflowerblue;
  }
}